*{
    box-sizing: border-box;
}

.values{
    width: 70%;
    display: inline-block;
    height: 90%;
}

header{
    display: none;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    margin-bottom: 5px;
    align-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    /* display: inline; */
}

.screen-container{
    background-color: #efefef;
    margin-top: 0px;
}

.button-container{
    float: right;
}

button{
    background: #72c3dc;
    color: #ffffff;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-right: 100px;
    height: 8vh;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #2b8ead;
}

.element{
    width: 33%;
    height: 30vh;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-size-adjust: 100vw;
    margin: auto ;
    align-content: center;
    text-align: center;
    font-size: 6vw;
    font-display: center;
}

.element:nth-child(2n + 0){
    background: #2b8ead;
}

.element:nth-child(3n + 3){
    background: #2f452f;
}

.element:nth-child(5){
    background: #2f2f2f;
}

.element:nth-child(7n + 1){
    background: #6f98a8;
}

.element:nth-child(6){
    background: #bfbfbf;
}

.element:nth-child(7){
    background: #bfbfbf;
}

.footer{
    align-content: center;
    text-align: center;
}

p{
    align-content: center;
    text-align: center;
}
 
@media screen and (max-width: 375px){
.screen-container{
    background-color: #ffffff;
    margin-top: 3px;
}

header{
    display: inline-block;
}
header h3{
    align-items: center;
    align-content: center;
}

.button-container{
    float: none;
    margin-bottom: 8px;
    align-items: center;
    align-content: center;
    margin-left: 50px;
}

button{
    width: 20%;
    margin: auto;
    margin-left: 20px;
}
.values{
    width: auto;
    height: 95%;
}

.values > div{
    display: inline-flexbox;
    height: auto;
    color: #000000;
    align-content: center;
    text-align: center;
}

.element{
    width: 100vw;
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    font-size-adjust: auto;
}

.element:nth-child(2n + 0){
    background: linear-gradient(90deg,#2b8ead 2%, #efefef 2% );
}

.element:nth-child(3n + 3){
    background: linear-gradient(90deg,#2f452f 2%, #efefef 2% );
}

.element:nth-child(5){
    background: linear-gradient(90deg,#2f2f2f 2%, #efefef 2% );
}

.element:nth-child(7n + 1){
    background: linear-gradient(90deg,#6f98a8 2%, #efefef 2% );
}

.element:nth-child(6){
    background: linear-gradient(90deg,#bfbfbf 2%, #efefef 2% );
}

.element:nth-child(7){
    background: linear-gradient(90deg,#bfbfbf 2%, #efefef 2% );
}


}